.header{
    font-size: medium;
}

.modalContainer{
    height: 900px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: white;
}

.formContainer{
    justify-self: auto;
}

.button{
    width: 55%;
}

.textField{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }