.oderDetailsContainer{
    display: flex;
    flex-direction: row;
    font-size: x-small;
    color:#3A3541 87%;
    margin-left: 4%;
}

.deliveryDate{
margin-top: 98%;
margin-left: 90%;
color: red;
}